*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myfont;
  src: url(NeueMontreal-Regular.otf);
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background:orange; 
}
::-webkit-scrollbar-thumb:hover {
  background:#112969; 
}

#root{
  font-family: myfont;
}
html{
  scroll-behavior: smooth;
}
.App {
  width: 100%;
  height: 100%;
  background-color: white;
  color: #112969;
  transition: .5s;

}
.App.dark{
  background-color: rgb(82, 79, 79);
  color: white;
}
.dark svg{
  stroke: greenyellow;
}
.navbar{
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 5rem;
  top: 0;
  }
  .menu-nav{
    display: none;
  }
  
.wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: .5rem 1.2rem;
}
.music-disc{
  width: 100%;
  height: 80px;
  overflow: hidden;
}
.background-music{
  cursor: pointer;
  width: 90px;
  left: 90%;
  height: 80px;
  position: relative;
}
.music{
  position:absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
}
.disc img{
  width: 80px;
  position: absolute;
  height: 80px;
  transition: .2s;
}

.disc.on img{
  animation: musicrotate 5s linear infinite;
}
@keyframes musicrotate{
  from{
    transform: rotate(360deg);
  }
}

.line img{
  width: 120px;
  position: absolute;
  height: 6rem;
  
}
.m-btn{
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 0;
  background-color:#05050567 ;
  backdrop-filter: blur(15px);
  color: red;
  border-radius: 5px;
  right: 0;
}
.m-btn.on{
  color:#112969;
}
.nav-content{
  display: flex;
  font-style: normal;
  font-family: myfont;
  background-color:#b1b1b1bf ;
  backdrop-filter: blur(15px);
  font-weight: 400;
  border-radius: 10rem;
  width: 100%;
  height: 100%;
  padding: 0 2.4rem;
  align-items: center;
}
.mobile-nav{
  display: none;
}
.dark .nav-content{
  background-color:#f7f7fabf ;
}
.right-menu{
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}
li{
  margin-left: 4rem;
  position: relative;
  cursor: pointer;

}
.right-menu .mode{
  width: 30px;
  height: 30px;
  background-color: blueviolet;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
.dark .mode{
  background-color: black;
}
.mode span svg{
  opacity: 1;
}
.mode .sun{
  color: yellow;
}

.transition{
  position:fixed;
  top: 0;
  left: 0;
  z-index: 111;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  
}

.element{
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
}
.circle{
  position: absolute;
  width: 60vw;
  height: 60vw;
  opacity: 0;
}
.circle:nth-child(1){
  width: 80vw;
  height: 80vw;
  left: -15%;
  top: -15%;
  background-color: aqua;
  border-radius: 50%;
  z-index: 1;
  animation: circle1 .1s ease-in-out 1 forwards;
  animation-duration: 2s;
}

@keyframes circle1 {
  0%{
    opacity: 0;
    transform: scale(.5,.5);

  }
  10%{
    opacity: 1;
    transform: scale(1,1);
  }
  60%{
    opacity: 1;
    transform: scale(1,1);
  }
  70%{
    opacity: 0;
    transform: scale(.5,.5)
  }
  100%{
    opacity: 0;
    transform: scale(.5,.5);
  }
}
.circle:nth-child(2){
  width: 64vw;
  height: 64vw;
  border-radius: 50%;
  background-color: yellowgreen;
  z-index: 2;
  left: 45%;
  top: -28%;
  animation: circle2 .5s ease-in-out  forwards;
  animation-delay: .1s;
  animation-duration: 2s;
}

@keyframes circle2 {
  0%{
    opacity: 0;
    transform: scale(.5,.5);

  }
  10%{
    opacity: 1;
    transform: scale(1,1);
  }
  60%{
    opacity: 1;
    transform: scale(1,1);
  }
  70%{
    opacity: 0;
    transform: scale(.5,.5)
  }
  100%{
    opacity: 0;
    transform: scale(.5,.5);
  }
}

.circle:nth-child(3){
  width: 52vw;
  height: 52vw;
  border-radius: 50%;
  z-index: 3;
  background-color: violet;
  animation: circle3 .2s ease-in-out 1 forwards;
  animation-duration: 2s ;
  animation-delay: .2s;
  left: 33%;
  top: 45%;
}
@keyframes circle3 {
  0%{
    opacity: 0;
    transform: scale(.5,.5);

  }
  10%{
    opacity: 1;
    transform: scale(1,1);
  }
  60%{
    opacity: 1;
    transform: scale(1,1);
  }
  70%{
    opacity: 0;
    transform: scale(.5,.5)
  }
  100%{
    opacity: 0;
    transform: scale(.5,.5);
  }
}
.circle:nth-child(4){
  width: 36vw;
  height: 36vw;
  z-index: 4;
  border-radius: 50%;
  animation: circle4 .3s ease-in-out 1 forwards;
  animation-duration: 2s;
  background-color: teal;
  left: 75%;
  top: 60%;
  animation-delay: .3s;
}
@keyframes circle4 {
  0%{
    opacity: 0;
    transform: scale(.5,.5);

  }
  10%{
    opacity: 1;
    transform: scale(1,1);
  }
  60%{
    opacity: 1;
    transform: scale(1,1);
  }
  70%{
    opacity: 0;
    transform: scale(.5,.5)
  }
  100%{
    opacity: 0;
    transform: scale(.5,.5);
  }
}
li svg{
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%,-50%);
}
.logo svg,.right-menu svg{
  opacity: 0;
  z-index: 1;
}
.active svg{
  opacity: 1;
}
a{
  text-decoration: none;
  color: #112969;
}
.logo{
  position: relative;
}
.logo svg{
  position: absolute;
  left: 50%;
  width: 110%;
  top: 50%;
  height: auto;
  transform: translate(-50% ,-50%);
}
.main-content{
  width: 97%;
  height: 100%;
  margin: 0 auto;
}
.first-container{
  width: 80%;
  height: 100%;
  margin: auto;
  padding-top: 8rem;
  
}
.first-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: myfont;
  
}
.first-content h1{
  font-size:clamp(5rem, 100%, 7rem);
  font-weight: 200;
  text-align: center;
  opacity: 0;
  transform: translateY(150px);
}

.first-content span{
  position: relative;
  z-index: 1;
}
svg{
  stroke:blueviolet;
}
.first-content span svg{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 112%;
  height: auto;
  z-index: 1;
  transform: translate(-50%,-43%);
}
 .first-content h1 svg{
  opacity: 0;
 }
.first-content h3{
  font-size: 2rem;
  font-weight: 100;
}
.first-content h3 span{
  position: relative;
  z-index: 1;
}
.first-content h3 span svg{
  position: absolute;
  top: 100%;
  opacity: 1;
  width: 100%;
  z-index: 1;
}
.first-content p{
  padding: 10px 0;
}
.links{
  width: 100%;
  height: 100px;
  padding: 100px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.link{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: .5s;
  z-index: 1;
}

.icon,.badge{
  position: absolute;
  
}
.badge{
  animation: rotate 15s linear infinite;
  opacity: 0;
  width: 100px;
  border-radius: 50%;
  transition: .3s  ;
}
.badge:hover{
  opacity: 1;
}
@keyframes rotate {
  from{
    transform: rotate(-360deg);
  }
}
.icon{
  width: 50%;
  height: 50%;
  z-index: 1;
  pointer-events: none;
}
.link:nth-child(1) .badge{
  background-color: lightblue;
}
.link:nth-child(2) .badge{
  background-color: pink;
}
.link:nth-child(3) .badge{
  background-color: lightcyan;
}
.link:nth-child(4) .badge{
  background-color: lightgray;
}
.link:nth-child(1){
  transform: translate(-650% ,-50%);
  background-color: lightblue;
  animation: s1 .5s ease-in-out 1 forwards;
}
.link:nth-child(2){
  transform: translate(-250% ,0%);
  background-color: pink;
  animation: s2 .5s ease-in-out 1 forwards;
}
.link:nth-child(3){
  transform: translate(250% ,0%);
  background-color:lightcyan;
  animation: s3 .5s ease-in-out 1 forwards;
}
.link:nth-child(4){
  transform: translate(650% ,-50%);
  background-color: lightgray;
  animation: s4 .5s ease-in-out 1 forwards;
}

@keyframes s1{
  from{
    transform: translate(0);
    opacity: 0;
  }
  to{
    transform: translate(-650% ,-50%);
    opacity: 1;
  }
}
@keyframes s2{
  from{
    transform: translate(0);
    opacity: 0;
  }
  to{
    transform: translate(-250% ,0%);
    opacity: 1;
  }
}
@keyframes s3{
  from{
    transform: translate(0);
    opacity: 0;
  }
  to{
    transform: translate(250% ,0%);
    opacity: 1;
  }
}
@keyframes s4{
  from{
    transform: translate(0);
    opacity: 0;
  }
  to{
    transform: translate(650% ,-50%);
    opacity: 1;
  }
}

.second-container{
  width: 100%;
  height: 100%;
}
.cards{
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container{
  flex-basis:calc(50% - 8px); 
  cursor: pointer;
  margin: 5rem 0;
}
.thumbnail{
  width: 100%;
  background-color: #112969;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.thumbnail img{
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
  height: 100%;
}
.container h3{
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 400;
  margin-left: 5px;
}
.dark .container h3{
  color: white;
}
.second-container .btn{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}
.second-container button{
  all: unset;
  background-color: rgb(199, 155, 240);
  border-radius: 15px;
  display: flex;
  width: 130px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;
  height: 50px;
  
}
.second-container button span{
  width: 30px;
  font-size: 12px;
  height: 30px;
  transition: .3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid rgb(199, 155, 240);
  border-radius: 50%;
}

.second-container button:hover span{
  border: .5px solid white;
  margin-left: 5px;
}
.second-container button:hover{
  padding-right: 10px;
}


.third-container{
  height: 100%;
}
.third-wrapper{
  margin: auto;
  width: 90%;
  margin-top: 5rem;
}
.ball{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(82, 169, 245);
}
.tag{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}
.third-disc{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.third-detail{
  flex-basis: calc(50% - 3px );
  
}

.third-detail:nth-child(2){
  /* border: 2px solid blueviolet; */
  display: flex;
  gap: 20px;
}
.dark .square h1{
  background-color: rgb(82, 79, 79);
}
.dark .square::before,.dark .square::after,.dark .square h1::before,.dark .square h1::after{
  background-color: rgb(82, 79, 79);
}
.square h1::before{
  content: '';
  background-color: white;
  z-index: -1;
  width: 20px;
  left: 75%;
  top: -10%;
  border-radius: 5px;
  transform: translate(-70%, 0);
  height: 120%;
  position: absolute;
}
.square h1::after{
  content: '';
  background-color:white;
  z-index: -1;
  width: 20px;
  left: 26%;
  top: -10%;
  border-radius: 5px;
  transform: translate(-55%, 0);
  height: 120%;
  position: absolute;
}
.square{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  /* border: 2px solid blueviolet; */
}
.square::before{
  content: '';
  width: 100%;
  height: 10px;
  top: 40%;
  background-color: white;
  position: absolute;
}
.square::after{
  content: '';
  width: 100%;
  height: 10px;
  bottom: 40%;
  background-color: white;
  position: absolute;
}
.square h1{
  font-size: 2rem;
  width: 500px;
  z-index: 5;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  position: absolute;
  display: flex;
  transform: rotate(-90deg);
}

.square:nth-child(1){
  background-color: red;
  font-size: 2px;
}
.square:nth-child(2){
  background-color: greenyellow;
}
.square:nth-child(3){
  background-color: blue;
}
.third-detail:nth-child(1) h1{
  font-size: 10rem;
}
.third-detail h1 span{
  color: orange;
}
.third-disc button{
  all: unset;
  background-color:orange;
  border-radius: 15px;
  display: flex;
  width: 130px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: .3s ease-out;
  height: 50px;
  
}
.third-disc button span{
  width: 30px;
  font-size: 12px;
  height: 30px;
  transition: .3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .5px solid orange;
  border-radius: 50%;
}

.third-disc button:hover span{
  border: .5px solid white;
  margin-left: 5px;
}
.third-disc button:hover{
  padding-right: 10px;
}
.third-disc p{
  padding: 10px 0;
}

footer{
  background-color:#b1b1b1bf ;
  width: 100%;
  margin-top: 5rem;
}
footer .cont{
  width: 98%;
  margin: auto;
  height: 30vh;
  text-align: center;
}
.cont .mail{
  margin-top: 1rem;
}
.mail a{
  position: relative;
  z-index: 5;
}
.mail a::before{
  content: '';
  width:100% ;
  height: 1%;
  background-color: orange;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transition: 1s;
}
.mail a span{
  z-index: 5;
  position: relative;
}
.mail a:hover::before{
  height: 100%;
}

.cont h5{
  margin-top: 1rem;
}

.about-section{
  width: 100%;
  height: 100%;
}
.about-section .inner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding-top: 2rem;
  margin: auto;
}
.about-section .inner h1{
  margin-top: 9rem;
  font-size: 6.5rem;
  transform: translateY(150px);
  opacity: 0;
  font-weight: 200;
  text-align: center;
}
.about-section .inner h1 span{
  position: relative;
  padding: 10px 0;
}
.about-section .inner h1 span svg{
  position: absolute;
  left: 0;
  bottom: 0;
} 

.about-section .inner h1 .c-svg{
  position: relative;
}
.about-section .inner h1 .c-svg svg{
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  scale: 1.2;
}
.profile{
  width: 100%;
  height: 100%;
  opacity: 0;
}
.profile .img-con{
  width: 97%;
  border-radius: 15px;
  height:30rem;
  margin:5rem auto;
  display: flex;
  
}
.profile .img-con img{
  object-fit: contain;
  object-position: 0 0px;
  border-radius: 15px;
  height: 100%;
}
.showtools{
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.589);
  backdrop-filter: blur(15px);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}
.showtools.open{
  opacity: 1;
  pointer-events: auto;
}
.fg{
  all: unset;
  margin: 5rem 1rem;
  font-size: 2rem;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  border-radius: 15px;
  letter-spacing: 2px;
  height: 50px;
  cursor: pointer;
  text-transform: capitalize;
}
.fg:hover{
  color: white;
  background-color: red;
}
.toolcircle{
  width: 50%;
  border-radius: 50%;
  height: 100%;
  background-color: white;
}
.toolcircle::before{
  width: 50%;
  border-radius: 50%;
  content: '';
  height: 100%;
  scale: 1;
  animation: blinkeff 1s ease-in-out infinite;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.267);
}
@keyframes blinkeff {
  to{
    transform: scale(1.1);
  }
}
.toolcontent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  border-radius: 50%;
  flex-wrap: wrap;
}
.toolcontent h1{
  font-size: 10rem;
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%,-50%);
}
.toolcontent .tool-ul{
  display: flex;
  width: 100px;
  height: auto;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}
.toolcontent .tool-li{
  all: unset;
  margin: 0;
  cursor: default;
  padding: 0;
  color:#112969;
  font-size: 2rem;
  
}

.close:hover{
  background-color: red;
  color: black;
}
.close{
  all: unset;
  position: absolute;
  top: 10%;
  background-color: transparent;
  width: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  outline: 2px solid red;
  height: 50px;
  border-radius: 50%;
  z-index: 11111;
  cursor: pointer;
  left: 70%;
  pointer-events: auto;
  transform: translate(-50%,-50%);
}

.p-d{
  width: auto;
  position: relative;

}
.d{
  width: 80%;
  padding: 0 10px;
}
.d h1{
  font-size: 3rem;
}
.d p{
  font-size: 2rem;
  padding: 1rem 0;
}
.p-circle{
  width:120px ;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  right:0%;
  top: 0;
  transform:rotate(25deg);
  background-color: violet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools{
  width: 100%;
  height: 50vh;
  background-color:#b1b1b1fb ;

}
.tool-marquee{
  display: flex;
  height: 50vh;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  
}
.all-tools{
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
}
/* @keyframes slidee {
  to{
    transform: translateX(-50%);
  }
} */

.t-l{
  position: relative;
  display: flex;
  width: auto;
  justify-content:start;
  align-items: center;
  padding: 2rem 0;
  
}
.tool-img{
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}
  @keyframes rotatee{
    from{
      transform: rotate(0);
    }
    50%{
      transform: rotate(20deg);
    }
    to{
      transform: rotate(0);
    }
  }

.t-l:nth-child(odd) .tool-img{
  left: 50%;
  bottom: 0;
}
.t-l:nth-child(even) .tool-img{
  left: 50%;
  top: 0;
}
.tool-img img{
  object-fit: cover;
  animation: rotatee 2s ease-in infinite ;
}


.t-l::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10%;
  transform: translateX(-50%);
  background-color:#706f6ffd ;
  border-radius: 50%;
}
.t-l h1{
  font-size: 9rem;
  margin-left: 5rem;
  
}
.project-title{
  font-size: 10rem;
  padding-top: 10rem;
  opacity: 0;
  font-weight: 200;
  transform: translateY(-150px);
}
.project-for-more{
  width: 100%;
  text-align: center;
}
.project-for-more a{
  all: unset;
  font-size: 2rem;
  cursor: pointer;
  color: orange;
  text-transform: capitalize;
  text-decoration: underline;
}
.project-for-more a:hover{
  color: red;
}
.dark .project-for-more a{
  color: red;
}
.dark .project-for-more a:hover{
  color: orange;
}


@media (max-width:1366px)and (min-width:1024px){
  .first-container{
    padding-top: 15rem;
    width: 85%;
  }
  .first-content h1{
    font-size:6rem;
    
  }
  .about-section .inner h1{
    margin-top: 10rem;
    font-size: 4.5rem;
  }
  .about-section .inner h1 span{
    position: relative;
    padding: 10px 0;
  }
  .about-section .inner h1 span svg{
    position: absolute;
    left: -10%;
    bottom: 0;
    scale: .8;
  } 
  
  .about-section .inner h1 .c-svg svg{
    top: -15%;
    scale: 1.1;
  }
  .profile .img-con{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .profile .img-con img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .p-circle{
    right:10%;
    top: 10%;
    transform:rotate(25deg) translate(10%,-50%);

  }
  .toolcircle{
    height: 80%;
  }
  .toolcircle::before{
    height: 80%;
  }
}

@media only screen and (max-width:1024px){
  .right-menu,.music-disc{
    display: none;
  }
  .menu-nav{
    all: unset;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
  .hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
.menu-nav span{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;  
  color: black;
  font-size: 2rem;
}
.mobile-nav{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.589);
  backdrop-filter: blur(15px);
  top: -100%;
  left: 0;
  display: block;
  transition: 1s;
}

.mobile-nav.open{
  top: 0;
}
.nav-inner{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.452);
  height: 100%;
  backdrop-filter: blur(15px);
  transition-delay: 2s;
  transition: 3s;
  top: -100%;
  position: fixed;
}
.nav-inner.open{
  top: 0;

}
.nav-close{
  pointer-events: auto;
  display: flex;
  width: 50px;
  right: 0;
  top: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 50%;
  margin-top:0;
}
.nav-inner ul{
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.nav-inner li {
  flex-basis: 50%;
  width: 100%;
  height: 10%;
  background-color: white;
  font-size: 2rem;
  border-radius: 15px;
}
.nav-inner li a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-inner li:nth-child(even){
  margin-left: auto;
}
.nav-inner li:nth-child(odd){
  margin-right: auto;
}
.nav-inner .musicplay{
  width: 100px;
  background-color: white;
  border-radius: 15px;
  height: 50px;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-detail:nth-child(2){
  display: none;
}
.home .arrow,.about .arrow,.project .arrow{
  display: none;
}
.home,.about,.project{
  border-radius: 15px;
}
.home.active,.about.active,.project.active{
  background-color: pink;
}
.arrow{
  all: unset;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow svg{
  all: unset;
  stroke: pink;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.home.active .arrow{
  opacity: 1;
  width: 100px;
  height: auto;
  left: 70%;
  transform: translateX(-50%);
  position: fixed;
  display: block;
}
.arrow p{
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.about.active .arrow{
  opacity: 1;
  width: 100px;
  height: auto;
  left: 40%;
  transform: translateX(-50%);
  position: fixed;
  display: block;
}
.about.active .arrow svg{
  transform: rotate(-140deg);
  padding: 10px 0;
}
.about.active .arrow p{
  margin-top: 0;
  position: absolute;
  top:0;
}
.project.active .arrow{
  opacity: 1;
  width: 100px;
  height: auto;
  left: 70%;
  transform: translateX(-50%);
  position: fixed;
  display: block;
}
.circle{
  width: 100%;
  height: 100%;
}
.circle:nth-child(1){
  width: 100vw;
  height: 100vw;
  object-fit: contain;
 }
 .circle:nth-child(2){
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 .circle:nth-child(3){
  width: 100vw;
  height: 100vw;
  left: -10%;
  object-fit: contain;
}
.circle:nth-child(4){
  width: 46vw;
  height: 46vw;
  left: 65%;
  object-fit: contain;
}
.first-content h1{
  font-size:4.55rem;
}
}

@media only screen and (max-width:480px) {
  .first-content h1{
    font-size:2.5rem;
    }
    .links{
      display: none;
    }
    .mobile-links{
      width: 100%;
      height: 250px;
      display: flex;
      flex-wrap: wrap;  
      justify-content: space-evenly;
      align-items: center;
      position: relative;
      margin-top: 1rem;
      
    
    }
    .mobile-link{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        transition: .5s;
        z-index: 1;
    }
    .mobile-link .icon,.mobile-link .badge{
      object-fit: contain;
      position: absolute;
    }
    .mobile-link .badge{
      animation: rotate 15s linear infinite;
      opacity: 0;
      width: 100px;
      border-radius: 50%;
      transition: .3s  ;
    }
    .mobile-link .badge:hover{
      opacity: 1;
    }
    @keyframes rotate {
      from{
        transform: rotate(-360deg);
      }
    }
    .mobile-link .icon{
      width: 50%;
      height: 50%;
      z-index: 1;
      pointer-events: none;
    }
    .mobile-link:nth-child(1){
      background-color: lightblue;
      top: 30%;
      left: 25%;
      transform: translate(-50%,-50%);
    }
    .mobile-link:nth-child(2){
      background-color: pink;
      right: 10%;
      top: 30%;
      transform: translate(-50%,-50%);
    }
    .mobile-link:nth-child(3){
      background-color:lightcyan;
      top: 80%;
      left: 25%;
      transform: translate(-50%,-50%);
    }
    .mobile-link:nth-child(4){
      background-color: lightgray;
      right: 10%;
      top: 80%;
      transform: translate(-50%,-50%);
    }
    .mobile-link:nth-child(1) .badge{
      background-color: lightblue;
    }
    .mobile-link:nth-child(2) .badge{
      background-color: pink;
    }
    .mobile-link:nth-child(3) .badge{
      background-color: lightcyan;
    }
    .mobile-link:nth-child(4) .badge{
      background-color: lightgray;
    }
    .third-disc{
      display: flex;
      justify-content: center;
      
    }
    .third-detail:nth-child(1) h1{
      font-size: 1rem;
    }
    .third-detail:nth-child(2){
      display: none;
    }


  .about-section .inner h1{
      margin-top: 9rem;
      font-size: 2rem;
  }
  .about-section .inner h1 span svg{
    position: absolute;
    left: -110%;
    bottom: 0;
    scale: 0.3;
  } 
  
  .about-section .inner h1 .c-svg svg{
    top: -75%;
    scale: 1.2;
  }

  .profile .img-con{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .profile .img-con img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .p-circle{
    right:10%;
    top: 10%;
    width: 70px;
    height: 70px;

  }
  .toolcircle{
    height: 60%;
    width: 80%;
  }
  .toolcircle::before{
    height: 60%;
    width: 80%;
  }
  .d h1{
    font-size: 2rem;
  }
  .d p{
    font-size: 1rem;
  }
  .tools{
    width: 100%;
    height: 30vh;
  }
  .tool-marquee{
    height: 100%;
    width: 100%;
    
  }
  .t-l h1{
    font-size: 5rem;
    margin-left: 5rem;
    
  }
  .project-title{
    font-size: 6rem;
  }
  .close{
    left: 80%;
    }
    .toolcontent h1{
      font-size: 5rem;
      top: 25%;
      left: 65%;
    }

    .mobile-nav{
      transition: .5s;
    }
    .nav-inner{
      transition: 1s;
    }
    .nav-inner li {
      font-size: 1rem;
    }
    .mobile-nav{
      display: flex;
      justify-content: center;
    }
    .nav-inner{
      width: 90%;
    } 
}